<div class="buttons ">
    <button (click)="navigateBack()" class="button is-link is-light m-2">
        < Back </button>
</div>
<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p id="title" class="title is-4">{{post.title}}</p>
                <p id="price" class="subtitle is-6">id: {{post.id}}</p>
            </div>
        </div>

        <div class="content">
            <span id="disc">{{post.body}}</span>

        </div>
    </div>
</div>