<div class="card">
    <div class="card-content">
        <div class="media">
            <!-- <div class="media-left">
        <figure class="image is-48x48">
          <img
            src="https://bulma.io/images/placeholders/96x96.png"
            alt="Placeholder image"
          />
        </figure>
      </div> -->
            <div class="media-content">
                <p id="title" class="title is-4">{{post.title}}</p>
                <!-- <p id="price" class="subtitle is-6">id: {{post.id}}</p> -->
            </div>
        </div>

        <div class="content">
            <!-- <span id="disc">{{post.body}}</span> -->
            <div class="buttons ">
                <button (click)='selectEvent({id: post.id,name:post.title})' class="button is-primary is-light my-2">
                    show More </button>
            </div>

        </div>
    </div>
</div>